.OJLUobTltTBSXwIJcQeP4 {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 2.4rem 3.2rem;
    font-family: "Source Sans Pro", sans-serif;
    border-bottom: .1rem solid #d6dee5
}

@media screen and (max-width: 480px) {
    .OJLUobTltTBSXwIJcQeP4 {
        padding: 2.4rem 1.6rem
    }
}

._3NwPlJDGJX1mxOldgE-cc0 {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 1.6rem
}

._3yOmbRnqSFNc7XmgILkujG {
    font-size: 2.4rem;
    color: #1a2c47
}

._3yOmbRnqSFNc7XmgILkujG>span {
    font-weight: 600
}

@media screen and (max-width: 480px) {
    ._3yOmbRnqSFNc7XmgILkujG {
        font-size: 1.6rem
    }
}

.rZl4EGDBRNJ-TXwpMfbqq {
    display: block
}

._2oOr3YezvYN2otxCHvsbPS {
    text-align: center;
    color: #61738e;
    font-size: 2.4rem;
    margin: auto;
    padding: 3.2rem
}

@media screen and (max-width: 480px) {
    ._2oOr3YezvYN2otxCHvsbPS {
        font-size: 1.6rem;
        padding: 1.6rem
    }
}

._1eK_VhDpS1r9rJU2cDcalW {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1.2rem
}

._1vDdcZOtCbJtWAo1XuBAm3 {
    width: 80%
}

._3o4PkpitzT7zNSQd11zVxz {
    max-width: 5rem;
    border-radius: 50%;
    background: linear-gradient(325deg, #0041ca 7.49%, #0041ca 89.31%)
}

._3keYtFjyZYnKjxPrb7kYo0 {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
    gap: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    max-width: 80%;
    margin: 1.5rem 0
}

._3dyfHHG6Ix5ofswIyVN9Xl {
    display: -webkit-box;
    display: flex;
    border-radius: 1rem;
    border: .1rem solid #d6dee5;
    padding: 1rem 1.5rem;
    -webkit-box-align: center;
    align-items: center;
    gap: 1.2rem;
    align-self: stretch;
    cursor: pointer
}

._3dyfHHG6Ix5ofswIyVN9Xl p {
    margin: 0
}

._2icZlaCZfOGuRxnKDRGMah {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: 1.6rem;
    background: #fff;
    padding: 0 3.2rem;
    overflow: auto;
    margin-top: auto;
    border-bottom: .1rem solid #d6dee5;
    font-family: "Source Sans Pro", sans-serif
}

._2icZlaCZfOGuRxnKDRGMah::-webkit-scrollbar {
    display: none
}

@media screen and (max-width: 768px) {
    ._2icZlaCZfOGuRxnKDRGMah {
        padding: 0 1.6rem
    }
}

._28N7spUOBYGA8EAzhu690Q {
    color: #1a2c47;
    font-size: 1.4rem;
    padding: 1.6rem;
    border-radius: 1.6rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 80%;
    background: #f4f6f9;
    font-weight: 400
}

._28N7spUOBYGA8EAzhu690Q:last-child {
    margin-bottom: 1.6rem
}

._28N7spUOBYGA8EAzhu690Q._1TFaFXBFBhBdzMUznKfhWc {
    background: #0041ca;
    color: #fff;
    margin-left: auto
}

._28N7spUOBYGA8EAzhu690Q a {
    color: #0041ca;
    font-weight: 600
}

._28N7spUOBYGA8EAzhu690Q span {
    font-weight: 600
}

@media screen and (max-width: 480px) {
    ._28N7spUOBYGA8EAzhu690Q {
        max-width: 90%
    }
}

._1ApCLgPZPughl_A2TIzBVK {
    display: inline-block;
    margin-bottom: 0
}

._29E_bqUiZ1a78UnKdZyeuI {
    font-size: 1rem;
    color: #91a1b7;
    margin-top: .8rem
}

._29E_bqUiZ1a78UnKdZyeuI._32KsNP4CFsVoV05gPMCCv8 {
    color: #fff
}

.GfiL8J34X-T_Br0st5ZIM {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    gap: 1rem
}

._3iC7U0IjM6o3v4mA9Y8HsC {
    max-width: 5rem;
    border-radius: 50%;
    background: linear-gradient(325deg, #0041ca 7.49%, #0041ca 89.31%)
}

.wTvlX9xqV0hTGkiGdAWBC {
    display: inline-block;
    margin-bottom: 0
}

body {
    height: auto !important
}

._2YOpOlwWHF_mBAtGtCi7-j {
    position: fixed;
    bottom: 3.4rem;
    right: 4.4rem;
    box-shadow: .2rem .2rem 1.6rem 0 rgba(0, 0, 0, .12);
    border-radius: 1.6rem;
    z-index: 99
}

@media screen and (max-width: 768px) {
    ._2YOpOlwWHF_mBAtGtCi7-j {
        right: 0;
        bottom: 0
    }
}

@media screen and (max-width: 480px) {
    ._2YOpOlwWHF_mBAtGtCi7-j {
        background: transparent
    }
}

.bdZwgmR0Ezu3IM7dM1PtF.bdZwgmR0Ezu3IM7dM1PtF {
    z-index: -1;
    background: rgba(0, 0, 0, .5)
}

._3RAxUWogFOLxfHeRy0Cikv {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background: linear-gradient(49.57deg, #0043c9 20.45%, #52d2ee 117.25%) !important;
    border-radius: 2.4rem;
    padding: 2rem;
    width: 7.2rem;
    height: 7.2rem;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

._3RAxUWogFOLxfHeRy0Cikv._3E_jwYTJYpbxBB0SzNUsNU {
    background: linear-gradient(49.57deg, #0041ca 20.45%, #0041ca 117.25%) !important;
    border-radius: 1.2rem;
    padding: 1.6rem;
    right: 3.2rem;
    bottom: 2.4rem;
    width: 5.6rem;
    height: 5.6rem
}

@media screen and (max-width: 768px) {
    ._3RAxUWogFOLxfHeRy0Cikv {
        right: 3.2rem;
        bottom: 3.4rem
    }
}

@media screen and (max-width: 480px) {
    ._3RAxUWogFOLxfHeRy0Cikv._3E_jwYTJYpbxBB0SzNUsNU {
        right: 1.6rem
    }
}

._2x6dSXWdIkG1ZWNXEGetSC {
    background: linear-gradient(325deg, #0041ca 7.49%, #0041ca 89.31%) !important;
    border-radius: 50%;
    padding: .5rem 0 0 0;
    border: .3rem solid #fff
}

._2x6dSXWdIkG1ZWNXEGetSC._3D_8CZE_gXNp34uVQ1LjfN {
    border: none;
    background: #1a2c47 !important
}

._1cSU_-dXccah5FLuB-srEH {
    border-radius: 50%;
    width: 90%
}

._3sVOdGta3Bndng3CuJ0PMe {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border-radius: 1.6rem;
    width: 56rem;
    height: 77vh
}

._3sVOdGta3Bndng3CuJ0PMe._1uBFEbNK0blc_uGQmdJwkS {
    height: 0;
    width: 0
}

@media screen and (max-width: 768px) {
    ._3sVOdGta3Bndng3CuJ0PMe {
        height: 90vh;
        width: 100vw;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }

    ._3sVOdGta3Bndng3CuJ0PMe._1uBFEbNK0blc_uGQmdJwkS {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right
    }
}

.ePIDLPK_VoHjHKmBivRhD {
    margin: 2.4rem 0 2.4rem 3.2rem;
    border: .1rem solid #d6dee5;
    border-radius: 1.2rem;
    font-size: 1.4rem;
    width: calc(100% - 13.5rem);
    overflow: auto;
    max-height: 15.6rem;
    flex-shrink: 0
}

.ePIDLPK_VoHjHKmBivRhD>textarea {
    display: block;
    padding: 1.9rem 1.6rem;
    border: none;
    outline: none;
    width: 100%;
    color: #61738e;
    resize: none;
    height: 5.6rem
}

@media screen and (max-width: 480px) {
    .ePIDLPK_VoHjHKmBivRhD>textarea {
        padding: 1.1rem 1.6rem
    }
}

@media screen and (max-width: 480px) {
    .ePIDLPK_VoHjHKmBivRhD {
        margin: 2.4rem 0 2.4rem 1.6rem;
        width: calc(100% - 10rem)
    }
}

._1s49RWdfcvAsW1vTHsbu9h {
    pointer-events: none;
    opacity: .5
}

._2UFlxoyJxO3jZVmhKLf4js {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 2rem 2rem 2.2rem 2rem;
    -webkit-box-align: start;
    align-items: flex-start;
    gap: 2rem;
    position: absolute;
    bottom: 6.5rem;
    right: 7.5rem;
    border-radius: 1.5rem 1.5rem .2rem 1.5rem;
    background: linear-gradient(107deg, #0e1e38 -1.5%, #0447cf 154.17%);
    box-shadow: .2rem .2rem 2rem .2rem rgba(26, 44, 71, .08);
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
    font-family: "Source Sans Pro", sans-serif
}

@media screen and (max-width: 480px) {
    ._2UFlxoyJxO3jZVmhKLf4js {
        bottom: 10.5rem;
        right: 10rem
    }
}

@media screen and (max-width: 768px) {
    ._2UFlxoyJxO3jZVmhKLf4js {
        bottom: 10.5rem;
        right: 10rem
    }
}

.YdxYLfq9g2W9v4c_t4UAN {
    width: 4rem;
    position: absolute;
    bottom: 5rem;
    right: 4rem
}

@media screen and (max-width: 480px) {
    .YdxYLfq9g2W9v4c_t4UAN {
        bottom: 8.5rem;
        right: 7rem
    }
}

/*# sourceMappingURL=chatbot~fron~96cee637.69689a.css.map*/